@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --font: "Inter", sans-serif;
  --primary-col: #161618;
  --secondary-col: #161618;
  --text-col: #fff; 

  --primary-font-size: 3rem;
  --secondary-font-size: 2rem;
  --tertiary-font-size: 1rem;
  --min-font-size: 0.5rem;

  --primary-font-weight: 600;
  --base-font-weight: 400;
  --min-font-weight: 200;
}

/* App Styles */
.weatherApp{
  height: 100vh;
  display: flex;
  background-color: white;
  font-family: var(--font);
  color: var(--text-col);
}

/* Card Styles */
.card{
  background-color: var(--primary-col);
  width: 360px;
  max-width: 400px;
  min-width: 300px;
  padding: 45px;
  text-align: center;
}

.title{
  color: #BF4B43;
  font-size: var(--secondary-font-size);
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: var(--primary-font-weight);
}

/*Input Styles */

.search-location{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-location>img{
  position: relative;
  left: 25px;
}

.search-location > input{
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 30px;
  color: #fff;
}

/* Forcast Styles */
.condition > .weather-icon{
  width: 150px;
  margin-bottom: 20px;
}

.weather-info{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info > .temprature{
  font-size: var(--primary-font-size);
  font-weight: var(--secondary-font-weight);
  margin: 0;
}

.weather-info > .name{
  font-weight: var(--min-font-size);
  font-size: var(--secondary-font-size);
  margin: 0;
}

.weather-title > .weather-text{
  margin:0;
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
}

/*MoreInfo Styles*/

.info{
  display: flex;
  margin-bottom: 8px;
  font-size: var(--tertiary-font-size);
  justify-content: space-between;
}

/* Local Time Styles */
.time-window{
  flex: 1;
  padding: 35px;
  background-color: var(--primary-col);
  background-image: url(../public//assets/01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: end;  
}

.local-time{
  font-size: var(--primary-font-size);
  text-align: right;
  font-weight:var(--primary-font-weight) ;
}

.current-date{
  font-size:var(--tertiary-font-size);
  text-align: right;
  font-weight:var(--min-font-weight) 
}



/* Media query for tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .weatherApp{
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: var(--primary-col);
    background-image: url(../public//assets/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card{
    width: 360px;
    min-width: 60%;
    box-sizing: border-box;
  }
  
  .time-window{
    flex: none;
    background-image: none;
    box-sizing: border-box;
    align-items: center;
    width: 360px;
    min-width: 60%;
  }
}

/* Media query for mobile devices (max-width: 768px and max-width: 480px) */
@media (max-width: 768px) {
 .card{
    background-color: var(--primary-col);
    width: 100wh;
    min-width: 100%;
    height: auto;
  }

  .time-window{
    width: 100wh;
    min-width: 100%;
    height: auto;
  }

  @media (max-width: 480px) {
    .weatherApp{
      justify-content: start ;
      background-color: var(--primary-col);
      background-image:none;
    }
  }
}