body {
  margin: 0;
  place-items: center;
  box-sizing: border-box;

  background-color: var(--primary-col);
    background-image: url(../public//assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}